@import 'tailwindcss';
@keyframes topSway {
  0%,
  100% {
    transform: translateY(0) rotate(4deg);
  }
  50% {
    transform: translateY(-15px) rotate(2deg);
  }
}

@keyframes botSway {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(15px) rotate(-2deg);
  }
}

@keyframes charSway {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(1px, -1px) rotate(0.2deg);
  }
  25% {
    transform: translate(-1px, 2px) rotate(-0.3deg);
  }
  40% {
    transform: translate(2px, 1px) rotate(0.1deg);
  }
  55% {
    transform: translate(-2px, -1px) rotate(-0.2deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(0.3deg);
  }
  85% {
    transform: translate(-1px, -2px) rotate(-0.1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
